# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.id provider demo.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\admin\RiderProjects\Id Provider Demo\.idea\.idea.id provider demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
